@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    background-color: black;
}

#clock {
    font-family: 'Orbitron', sans-serif;
    color: #66ff99;
    font-size: 200px;
    text-align: center;
    align-self: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #date {
    font-family: 'Orbitron', sans-serif;
    color: #66ff99;
    font-size: 125px;
    text-align: top;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
  }

  #dateText {
    font-family: 'Orbitron', sans-serif;
    color: #66ff99;
    font-size: 150px;
    text-align: bottom;
    margin: 0;
    position: absolute;
    bottom: 20%;
    left: 10%;
  }